In [1]:
msg= ["Shaw likes to play cricket", 
     "Mary likes to play tennis",
     "John likes to play voleyball or cricket",
     "Heena likes top play tennis or throwball"]

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import pandas as pd

vec= CountVectorizer()
bag= vec.fit_transform(msg).toarray()
print(vec.get_feature_names_out())
df= pd.DataFrame(bag, columns= [vec.get_feature_names_out()])
df

['cricket' 'heena' 'john' 'likes' 'mary' 'or' 'play' 'shaw' 'tennis'
 'throwball' 'to' 'top' 'voleyball']

  cricket heena john likes mary or play shaw tennis throwball to top voleyball
0       1     0    0     1    0  0    1    1      0         0  1   0         0
1       0     0    0     1    1  0    1    0      1         0  1   0         0
2       1     0    1     1    0  1    1    0      0         0  1   0         1
3       0     1    0     1    0  1    1    0      1         1  0   1         0

# TF-IDF (Term Frequency - Inverse Document Frequency)

In [2]:
vec= TfidfVectorizer()
bag= vec.fit_transform(msg).toarray()
print(vec.get_feature_names_out())
df= pd.DataFrame(bag, columns= vec.get_feature_names_out())
df

['cricket' 'heena' 'john' 'likes' 'mary' 'or' 'play' 'shaw' 'tennis'
 'throwball' 'to' 'top' 'voleyball']

,cricket,heena,john,likes,mary,or,play,shaw,tennis,throwball,to,top,voleyball
0,0.491450,0.000000,0.000000,0.325285,0.000000,0.000000,0.325285,0.623342,0.000000,0.000000,0.397871,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.325285,0.623342,0.000000,0.325285,0.000000,0.491450,0.000000,0.397871,0.000000,0.000000
2,0.384924,0.000000,0.488227,0.254777,0.000000,0.384924,0.254777,0.000000,0.000000,0.000000,0.311629,0.000000,0.488227
3,0.000000,0.457016,0.000000,0.238490,0.000000,0.360316,0.238490,0.000000,0.360316,0.457016,0.000000,0.457016,0.000000

# Word2Vec

In [3]:
from nltk.tokenize import word_tokenize

with open('word2vec.txt') as f:
    text= f.readlines()

text[0]

'With Bag of Words and TF-IDF text vectorization techniques we did not get semantic meaning of words But for most of the applications of NLP tasks like sentiment classification, sarcasm detection etc require semantic meaning of a word and semantic relationships of a word with other words.\n'

In [4]:
import re

for i in range(len(text)):
    text[i]= re.sub("a-zA-Z", ' ', text[i])
    
print("Number of Sentences: ", len(text))
print("First Sentence from the Text File: ", text[0])

Number of Sentences:  11
First Sentence from the Text File:  With Bag of Words and TF-IDF text vectorization techniques we did not get semantic meaning of words But for most of the applications of NLP tasks like sentiment classification, sarcasm detection etc require semantic meaning of a word and semantic relationships of a word with other words.

In [5]:
token= []

for i in text:
    token.append(word_tokenize(i))

token[0]

['With',
 'Bag',
 'of',
 'Words',
 'and',
 'TF-IDF',
 'text',
 'vectorization',
 'techniques',
 'we',
 'did',
 'not',
 'get',
 'semantic',
 'meaning',
 'of',
 'words',
 'But',
 'for',
 'most',
 'of',
 'the',
 'applications',
 'of',
 'NLP',
 'tasks',
 'like',
 'sentiment',
 'classification',
 ',',
 'sarcasm',
 'detection',
 'etc',
 'require',
 'semantic',
 'meaning',
 'of',
 'a',
 'word',
 'and',
 'semantic',
 'relationships',
 'of',
 'a',
 'word',
 'with',
 'other',
 'words',
 '.']

In [6]:
from gensim.models import Word2Vec

cbow= Word2Vec(sentences= token, min_count= 2, vector_size= 2)
words= cbow.wv.index_to_key
words

['of',
 '.',
 'and',
 'words',
 'a',
 'vector',
 'word',
 'the',
 'space',
 'method',
 'semantic',
 'context',
 'in',
 'Word2vec',
 'to',
 'most',
 ',',
 'with',
 'for',
 'meaning',
 'we',
 'relationships',
 'gram',
 'other',
 'Word',
 'skip',
 'input',
 'as',
 'size',
 'corpus',
 'be',
 'are',
 'center',
 'well',
 'is',
 'embeddings']

In [7]:
print("Total words: ", len(words))
cbow.wv.__getitem__('and')

Total words:  36

array([-0.46636945, -0.3538109 ], dtype=float32)